<div fxLayout="column" class="">
    <section class="faq-title-section">
        <h1 class="has-text-centered is-size-2 faq-title has-text-weight-semibold">
            【特级日式曲奇常見問題】
        </h1>

    </section>

    <section class="faq-content-section">
        <h2 class="has-text-weight-semibold is-size-3 m-3">关于日式特级曲奇</h2>
        <div class=" faq-content">
            <ol>
                <li>二月坊日式特级曲奇商品規格？</li>
            </ol>
            <ul>
                <li>每盒內含两包，一包為200公克。</li>
            </ul>
            <ol start="2">
                <li>为什么只售卖1000盒</li>
            </ol>
            <ul>
                <li>二月坊每一块曲奇都是由烘培师傅亲力亲为烘制而成</li>
                <li>为了严厉把控产品品质，出产数量限制在可控范围内</li>
            </ul>
            <ol start="3">
                <li>素食者是否可以食用？</li>
            </ol>
            <ul>
                <li>曲奇原料不含任何蛋元素</li>
                <li>素食者可以放心食用</li>
            </ul>
            <ol start="4">
                <li>保存期限<strong>/</strong>保存天數</li>
            </ol>
            <ul>
                <li style="font-size: 15px;">由于产品制作原料「不含任何防腐剂，化学元素，色素」</li>
                <li style="font-size: 15px;">最佳常味期限<span style="font-size: 16px;">显示在包装两个月内，一旦将撕条撕开后7天内食用完毕为佳</span>
                </li>
            </ul>
            <ol start="5">
                <li>日式特级曲奇方式</li>
            </ol>
            <ul>
                <li>請確保产品放置常温35。-36。，无需冷冻保存否者曲奇品质将收到影响</li>
                <li>确保曲奇取出后尽快密封包装以免促进饼干变质速度</li>
            </ul>
        </div>


    </section>

    <section class="faq-content-section">
        <h2 class="has-text-weight-semibold is-size-3 m-3">关于购买&流程</h2>
        <div class=" faq-content">

            <ol>
                <li>哪里可以购买二月坊产品</li>
            </ol>
            <ul>
                <li>本官网所有商品均可到网站点击购买下单</li>
            </ul>
            <ol start="2">
                <li>购买流程</li>
            </ol>
            <ul>
                <li>确认付款后，用户将收到邮件或是信息通知</li>
            </ul>
            <ol start="3">
                <li>提供哪些送貨方式呢？</li>
            </ol>
            <ul>
                <li>本官网提供Pos Laju/Pgeon/Skynet/Gdex/Ninjavan配送服务</li>
            </ul>
            <ol start="4">
                <li>付款方式？</li>
            </ol>
            <ul>
                <li>本官网目前只接受Visa/Mastercard/Touch &amp; Go付款</li>

                一旦付款成功将收到付款确认通知信
            </ul>
        </div>

    </section>
    <section class="faq-content-section" style="border-bottom: none;">
        <h2 class="has-text-weight-semibold is-size-3 m-3">关于运输</h2>
        <div class=" faq-content">
                <ol>
                    <li>出貨時間</li>
                </ol>
                <ul>
                    <li>本官网将不提供指定到货日或到货时间之服务</li>
                    <li>为了确保品质出货日期将根据单号顺序排列出货</li>
                    <li>注：公共假期或季节性优惠活动，订单发货可能会稍微延迟
                    &nbsp;对于交货延迟而遭受损失，恕不退款
                </ul>
                <ol start="2">
                    <li>請問有提供海外寄送嗎？</li>
                </ol>
                <ul>
                    <li>目前售卖范围只限于马来西亚 东马 &amp;西马</li>
                </ul>
                <ol start="3">
                    <li>运费计算</li>
                </ol>
                <ul>
                    <li>西马及东马运费各不同</li>
                    <li>西马运费-RM8</li>
                    <li>东马运费-RM17</li>
                </ul>
                <ol start="4">
                    <li>如何享有免运</li>
                </ol>
                <ul>
                    <li>购买选项B（2包海盐巧克力曲奇+2包杏仁巧克力曲奇）即可享有免运噢</li>
                </ul>
                <ol start="5">
                    <li>为什么没收到包裹？</li>
                </ol>

                <ul>
                    <li>如未收到包裹或是没收到出货通知信，可能是因信息容量不足或其他网站系统不确定因素</li>
                    （如有相关问题请与客服联系）
                </ul>
            </div>
    </section>


</div>