<div fxLayout="column" class="">
    <section class="about-title-section">
        <h1 class="has-text-centered is-size-2 about-title has-text-weight-semibold">
            【二月坊】品牌故事
        </h1>

    </section>

    <div class="has-text-centered about-content" >
        <p>熟悉狠搞鬼YouTube頻道的忠實觀眾，都知道我們是出了名的吃貨。</p>
        <p>每次美食相關影片上線後，總會引起不少粉絲哀嚎留言：“看到，卻吃不到。”</p>
        <p>為了讓大家也能共享美食，我們們創立了二月坊，準備推介一系列食品好物！</p>
        <p>&nbsp;</p>
        <p>對狠搞鬼而言，二月有著特殊含義：</p>
        <p>我們在二月有了當YouTuber的想法，並在兩個月後發佈第一支影片。</p>
        <p>因此，作為狠搞鬼的延伸品牌，決定取名叫二月坊。</p>
        <p>任何經過我們認證的好味道，都有可能包裝出品，推出市場。</p>
        <p>&nbsp;</p>
        <p>“方形設計，入口酥脆！”</p>
        <p>品牌精挑細選，首發【特級日式曲奇】。</p>
        <p>採用進口日式麵粉，以方塊餅乾呈現，帶來一口酥脆的味蕾滿足。</p>
        <p>嚴選比利時巧克力、法國進口可可粉、紐西蘭有機海鹽、</p>
        <p>美式蘇打粉、丹麥牛油、美國進口杏仁等原材料，只為帶給你最優質成品。</p>
        <p>目前，產品備有海鹽及杏仁2種口味。</p>
        <p>包裝精美、輕巧美味、方便攜帶，全馬發售。</p>
        <p>&nbsp;</p>
        <p>在品牌面前，我們一點也不搞鬼。</p>
        <p>帶著製作影片的用心認真，全力打造二月坊。</p>
        <p>期待大家人手一份，品嚐這籌備多時的滿滿誠意！</p>
        <p>吃在你們嘴裡，甜在我們心裡。</p>

    </div>


</div>